/* Empty. Add your own CSS if you like */
.center{
    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
    display: block;
}
.bar-custom{
	background-color: cornflowerblue;
	color: white;
}
.view{
    max-width: 80%;
    background-color: aliceblue;
}
.btn-plr{
    height:30%;
}

.bg {
    background-color: aliceblue;
}
.pad {
    margin-top: 40px;
    margin-bottom: 100px;
}
.no-margin {
    margin-top: 0px !important;
    margin-bottom: -1px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-right: 3px !important;
}
.bottom {
    margin-top: 13px
}
.bar-footer{
    height: auto;
}
.test{
	padding-left: 0;
}
body{
	font-family: Verdana;
}
.center-down{
    margin: auto;
    padding-top:60px;
}